* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 20px;
}

h1 {
    color: dodgerblue;
}

p {
    color: palevioletred;
}

img {
    width: 400px;
}